# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SS14.Admin.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pieter-Jan Briers\Projects\SS14.Admin\.idea\.idea.SS14.Admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
