@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <a class="btn btn-primary" asp-page="./Bans/Index">Bans</a>
    <a class="btn btn-primary" asp-page="./Players/Index">Players</a>
    <a class="btn btn-primary" asp-page="./Connections/Index">Connections</a>
    <a class="btn btn-primary" asp-page="./Logs/Index">Logs</a>
</div>
