@page
@model SS14.Admin.Pages.Settings.Index

@{
    ViewData["Title"] = "Settings";
    var darkMode = Request.Cookies["darkMode"] == "true";
    var darkModeClass = darkMode ? "dark" : "light";
    var textClass = darkMode ? "text-light" : "text-dark";
}

@* TODO: Make this actually look good*@
<div class="container">
    <h1>Settings</h1>
    <button type="button" class="btn btn-primary" onclick="toggleDarkMode()">Toggle darkmode</button>
</div>

<script src="~/js/settings.js" asp-append-version="true"></script>
