@page
@model SS14.Admin.Pages.Settings.Index

@{
    ViewData["Title"] = "Settings";
    var darkMode = Request.Cookies["darkMode"] == "true";
    var darkModeClass = darkMode ? "dark" : "light";
    var textClass = darkMode ? "text-light" : "text-dark";
}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Settings</h1>
            <button type="button" class="btn btn-primary mb-4" onclick="toggleDarkMode()">Toggle darkmode</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Changelog</h1>
            <ul class="list-group">
                @foreach(var change in Model.Changes)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <i class="@Model.GetIcon(change.Type) mr-2"></i> @change.Message
                        </span>
                        <span>@change.Author</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script src="~/js/settings.js" asp-append-version="true"></script>
